<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<sql id="select">
		select * from board
	</sql>
	
	<!-- 게시물 조회 -->
	<select id="selectAll">
		<include refid="select"/>
		order by board_id asc
	</select>
	
	<select id="selectOne" resultType="Board" parameterType="int">
		<include refid="select" />
		where board_id=#{board_id}
	</select>
	<insert id="insert" parameterType="Board">
		insert into
		board(member_id, title, content, img, s_id)
		values(#{member_id},#{title},#{content},#{img},#{s_id})
	</insert>
	<delete id="delete" parameterType="int">
		delete from board where board_id=#{board_id}
	</delete>
	<update id="update" parameterType="Board">
		update board set title=#{title},content=#{content},img=#{img},s_id=#{s_id}
	</update>
</mapper>