<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment_Board">

	<select id="selectAll" resultType="Comment_Board" parameterType="int">
		select * from Comment_Board where board_id=#{board_id}
	</select>
	
	<insert id="insert" parameterType="Comment_Board">
		insert into Comment_Board(board_id, m_email, content)
		values(#{board_id}, #{m_email}, #{content})
	</insert>
</mapper>