<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		
		<typeAlias type="com.sai.model.domain.Board" alias="Board" />
		<typeAlias type="com.sai.model.domain.Cart" alias="Cart" />
		<typeAlias type="com.sai.model.domain.Comment_Board" alias="Commnet_Board" />
		<typeAlias type="com.sai.model.domain.Couple" alias="Couple" />
		<typeAlias type="com.sai.model.domain.Date_Course" alias="Date_Course" />
		<typeAlias type="com.sai.model.domain.Date_Detail" alias="Date_Detail" />
		<typeAlias type="com.sai.model.domain.MasterCate" alias="MasterCate" />
		<typeAlias type="com.sai.model.domain.Member" alias="Member" />
		<typeAlias type="com.sai.model.domain.Price" alias="Price" />
		<typeAlias type="com.sai.model.domain.SubCate" alias="SubCate" />
		<typeAlias type="com.sai.model.domain.TopCate" alias="TopCate" />
	</typeAliases>
	<mappers>
		<mapper resource="com/sai/mybatis/BoardMapper.xml" />
		<mapper resource="com/sai/mybatis/CartMapper.xml" />
		<mapper resource="com/sai/mybatis/Comment_BoardMapper.xml" />
		<mapper resource="com/sai/mybatis/CoupleMapper.xml" />
		<mapper resource="com/sai/mybatis/Date_CourseMapper.xml" />
		<mapper resource="com/sai/mybatis/Date_DetailMapper.xml" />
		<mapper resource="com/sai/mybatis/MasterCateMapper.xml" />
		<mapper resource="com/sai/mybatis/MemberMapper.xml" />
		<mapper resource="com/sai/mybatis/PriceMapper.xml" />
		<mapper resource="com/sai/mybatis/SubCateMapper.xml" />
		<mapper resource="com/sai/mybatis/TopCateMapper.xml" />
	</mappers>
</configuration>
  