<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.sai.model.domain" alias="Board" />
		<typeAlias type="com.sai.model.domain" alias="Cart" />
		<typeAlias type="com.sai.model.domain" alias="Commnet_Board" />
		<typeAlias type="com.sai.model.domain" alias="Couple" />
		<typeAlias type="com.sai.model.domain" alias="Date_Course" />
		<typeAlias type="com.sai.model.domain" alias="Date_Detail" />
		<typeAlias type="com.sai.model.domain" alias="MasterCate" />
		<typeAlias type="com.sai.model.domain" alias="Member" />
		<typeAlias type="com.sai.model.domain" alias="Price" />
		<typeAlias type="com.sai.model.domain" alias="SubCate" />
		<typeAlias type="com.sai.model.domain" alias="TopCate" />
	</typeAliases>
	<mappers>
		<mapper resource="com/sai/mybatis/BoardMapper.xml" />
		<mapper resource="com/sai/mybatis/CartMapper.xml" />
		<mapper resource="com/sai/mybatis/Commnet_BoardMapper.xml" />
		<mapper resource="com/sai/mybatis/CoupleMapper.xml" />
		<mapper resource="com/sai/mybatis/Date_CourseMapper.xml" />
		<mapper resource="com/sai/mybatis/Date_DetailMapper.xml" />
		<mapper resource="com/sai/mybatis/MasterCateMapper.xml" />
		<mapper resource="com/sai/mybatis/MemberMapper.xml" />
		<mapper resource="com/sai/mybatis/PriceMapper.xml" />
		<mapper resource="com/sai/mybatis/SubCate.xml" />
		<mapper resource="com/sai/mybatis/TopCate.xml" />
	</mappers>
</configuration>
  