<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<sql id="select">
		select * from board
	</sql>	
	<select id="selectAll" resultType="Member">
		<include refid="select"/>
		order by member desc
	</select>
	<select id="selectOne" resultType="Member" parameterType="int">
		<include refid="select"/> 
		where member_id=#{member_id}
	</select>
	<insert id="insert" parameterType="Member">
		insert into member(member_email, member_pwd, member_name, member_nickname, member_regdate, couple_id)
		values(#{member_email},#{member_pwd},#{member_name},#{member_nickname},#{member_regdate},#{couple_id})
	</insert>
	<delete id="delete" parameterType="int">
		delete from member where member_id=#{member_id}
	</delete>
	<update id="update" parameterType="member">
		update member set member_pwd=#{member_pwd},member_name=#{member_name}, member_nickname=#{member_nickname}
	</update>
</mapper>